body {
    background-color: #244d3e !important;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: #FCFAEE;
    padding: 10px 20px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin: 20px;
}

.nav a {
    color: #244d3e;
    font-family: "Old Standard TT", serif;
    font-size: larger;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.questionnaire-container {
    margin: auto;
    background-color: #FCFAEE;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionnaire-container:hover {
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(255, 250, 230, 0.5);
}

.question {
    display: none;
    margin: 20px 0;
}

.question.active {
    display: block;
}

.question label {
    display: block;
    margin-bottom: 10px;
    color: #244d3e;
    font-family: "Old Standard TT", serif;
}

.question input[type="text"],
.question input[type="number"],
.question select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #244d3e;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #b30000;
    color: #FCFAEE;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
}

button:hover {
    background-color: #a30000;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Abril Fatface";
    color: #244d3e;
    font-size: xx-large;
}

main {
    font-family: "Old Standard TT", serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-field {
    position: relative;
    margin-bottom: 20px;
}

input:invalid,
select:invalid {
    border-color: #FFE6E6;
    background-color: #FFFFFF;
}

input:invalid:focus,
select:invalid:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 68, 68, 0.2);
    border-color: #b30000;
}

.checkbox-group,
.radio-group {
    margin-bottom: 15px;
    padding: 10px 0;
}

.checkbox-group label,
.radio-group label {
    display: inline;
    margin-left: 5px;
    margin-right: 15px;
}

.form-field.invalid::after {
    content: '✖';
    position: absolute;
    right: -25px;
    top: 50%;
    color: #b30000;
    font-size: 14px;
}

.error-message {
    display: none;
    color: #b30000;
    font-size: 12px;
    margin-top: 5px;
}

.form-field.invalid .error-message {
    display: block;
}

/* valid state */
input:valid,
select:valid {
    border-color: #FCFAEE;
}

input:valid:focus,
select:valid:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 150, 136, 0.1);
    border-color: #244d3e;
}


.footer {
    background-color: #FCFAEE;
    color: #244d3e;
    padding: 30px;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.footer-social {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-social .social-icon {
    margin: 0 10px;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: #244d3e;
}

.footer a {
    color: #244d3e;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer h5 {
    margin-bottom: 15px;
    color: #244d3e;
    font-weight: bold;
}

.footer ul {
    padding: 0;
}

.footer ul li {
    margin-bottom: 8px;
}